html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding: $spacing 0;
}

h4 {
  color: $grey;
  text-transform: uppercase;
  font-size: $font-size - 5;
  padding: $spacing 0;
  margin: 0;
  letter-spacing: 3px;
  text-align: center;
}

p {
  color: $black;
  font-weight: 700;
  text-align: center;
  font-size: $font-size + 5;
  margin: 0;
}
